<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Tree Plot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('predict') }}">Predict</a></li>
        <li>
            <a href="#">Visualizations</a>
            <ul>
                <li><a href="{{ url_for('get_feature_importance_plot') }}">Feature Importance Plot</a></li>
                <li><a href="{{ url_for('get_decision_tree_plot') }}">Decision Tree Plot</a></li>
                <li><a href="{{ url_for('get_regression_line') }}">Regression Lines</a></li>
            </ul>
        </li>
    </ul>
</nav>
<p class="disclaimer"><b>Disclaimer:</b> To enhance readability and reduce rendering time, the depth of the decision tree has been
        limited to 3 levels in this visualization. The actual decision tree is much deeper. This constraint allows me
        to present a more manageable and understandable view of the decision-making process used by the algorithm. By
        simplifying the tree structure, I aim to illustrate the foundational elements of the model's decisions without
        overwhelming viewers with excessive detail.</p>
    <h1>Decision Tree Visualization</h1>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Decision Tree Plot">
</body>
</html>
