<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Importance Plot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('predict') }}">Predict</a></li>
        <li>
            <a href="#">Visualizations</a>
            <ul>
                <li><a href="{{ url_for('get_feature_importance_plot') }}">Feature Importance Plot</a></li>
                <li><a href="{{ url_for('get_decision_tree_plot') }}">Decision Tree Plot</a></li>
                <li><a href="{{ url_for('get_regression_line') }}">Regression Lines</a></li>
            </ul>
        </li>
    </ul>
</nav>
    <h1>Feature Importance Plot</h1>
    <p>Below, you can see how the different features are weighted by the model. As you can see, follower count is the
        most important, followed by retweet count. Verification status and mention count were much less important to
        the model compared to the other features.
    </p>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Feature Importance Plot">
</body>
</html>
