<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Media Bot Detection</title>
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  <body>

	<script src="/static/scripts/index.js"></script>

    <h1>Welcome to Bot Detection</h1>
    <form action="/result" method="get">
        <label for="tweet_id">Enter Tweet ID:</label>
        <input type="text" id="tweet_id" name="tweet_id">
        <input type="submit" value="Check">
    </form>

  </body>
</html>