<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Detection Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('predict') }}">Predict</a></li>
            <li><a href="{{ url_for('visualize') }}">Visualizations</a></li>
        </ul>
    </nav>
    <h1>Supervised Machine Learning to Detect Twitter Bots</h1>
    <p>This project explores how supervised machine learning can be implemented to detect bots on Twitter.
        Specifically, the Decision Tree algorithm is used. It achieves an accuracy of approximately 99.8% against
        the test set. A publicly available dataset from Kaggle was used for both training and testing the model.
        The dataset can be found <a href="https://www.kaggle.com/datasets/goyaladi/twitter-bot-detection-dataset" target="_blank">here</a>.
    </p>

    <h3>How It Works</h3>
    <p>
        The model was developed in Python, using Numpy for data manipulation and sklearn for the Machine Learning model.
        Flask is used to integrate the backend Python code with the frontend web application. A dataset containing
        50,000 tweets was used. 40,000 of the tweets were used for training and 10,000 were used in the test set. The model
        leverage the following features of the data: Retweet Count, Mention Count, Follower Count, and Verification
        Status. Tweet content and hashtags were originally considered later deemed unnecessary.
    </p>

    <h3>How the Model Performed</h3>
    <p>
        The table below shows how the model performed against the test set. A value of 1 means the tweet came from a
        bot account and a value of 0 means that the tweet did not come from a bot account.
    </p>

    <div class="container">

        <!-- Table displaying results -->
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        <!-- Dropdown for selecting number of results -->
        <form method="GET" action="/">
            <label for="results_per_page">Results per page:</label>
            <select id="results_per_page" name="results_per_page" onchange="this.form.submit()">
                <option value="25" {% if results_per_page == 25 %}selected{% endif %}>25</option>
                <option value="50" {% if results_per_page == 50 %}selected{% endif %}>50</option>
                <option value="100" {% if results_per_page == 100 %}selected{% endif %}>100</option>
                <option value="200" {% if results_per_page == 200 %}selected{% endif %}>200</option>
            </select>
        </form>

        <!-- Pagination controls -->
        <div class="pagination">
            {% if current_page > 1 %}
                <a href="{{ url_for('index', page=current_page-1, results_per_page=results_per_page) }}">Previous</a>
            {% endif %}
            {% if current_page < total_pages %}
                <a href="{{ url_for('index', page=current_page+1, results_per_page=results_per_page) }}">Next</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
