<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression Lines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('predict') }}">Predict</a></li>
        <li>
            <a href="#">Visualizations</a>
            <ul>
                <li><a href="{{ url_for('get_feature_importance_plot') }}">Feature Importance Plot</a></li>
                <li><a href="{{ url_for('get_decision_tree_plot') }}">Decision Tree Plot</a></li>
                <li><a href="{{ url_for('get_regression_line') }}">Regression Lines</a></li>
            </ul>
        </li>
    </ul>
</nav>
<h1>Decision Tree Regression Visualization</h1>
    <p>Below is a plot of the Decision Tree Regressor model's predictions. Use the dropdown menu to select the feature
        for which you want to visualize the model's predictions. Here, you can more easily see which features the model
        prioritizes and which features are less important.</p>

    <form method="GET" action="{{ url_for('get_regression_line') }}">
        <label for="feature">Select Feature:</label>
        <select id="feature" name="feature" onchange="this.form.submit()">
            <option value="Retweet Count" {% if feature_name == 'Retweet Count' %}selected{% endif %}>Retweet Count</option>
            <option value="Mention Count" {% if feature_name == 'Mention Count' %}selected{% endif %}>Mention Count</option>
            <option value="Follower Count" {% if feature_name == 'Follower Count' %}selected{% endif %}>Follower Count</option>
            <option value="Verified" {% if feature_name == 'Verified' %}selected{% endif %}>Verified</option>
        </select>
    </form>

    <img src="data:image/png;base64,{{ plot_img }}" alt="Decision Tree Regression Plot">


</body>
</html>
