<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('predict') }}">Predict</a></li>
        <li>
            <a href="#">Visualizations</a>
            <ul>
                <li><a href="{{ url_for('visualization1') }}">Visualization 1</a></li>
                <li><a href="{{ url_for('visualization2') }}">Visualization 2</a></li>
                <li><a href="{{ url_for('visualization3') }}">Visualization 3</a></li>
            </ul>
        </li>
    </ul>
</nav>
    <h1>Visualizations</h1>
    <p>Visualizations will be added here in the future.</p>
</body>
</html>
