body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
}


.container {
    margin: 20px;
}

.select {
    margin-bottom: 20px;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: blue;
}

.pagination a:hover {
    text-decoration: underline;
}